name : Pipeline DevOps ITIS

on:
  push:
    branches: ["main"]

jobs:
  tests-html:
    runs-on: ubuntu-latest
    steps:
      - uses: action/checkout@4
      - name: Validation Syntax
        run: |
          echo "Verification du fihier index.html..."
          grep 'style="color:blue;" ' index.html && (echo "Erreur syntaxe détectée!" && exit 1)


  deploy-serveur:
    needs: tests-html
    run-on: self-hosted
    steps:
      - uses: action/checkout@v4
      - name: Copie vers Nginx
        run: sudo cp index.html /var/www/html
